/* markdown comments */

.cm-comment {
    color: var(--divider-color) !important;
}

/* code block comments */

.cm-comment.cm-hmd-codeblock {
    color: var(--code-comment) !important;
}

/* max width of notes */

body {
    --file-line-width: 1600px !important;
}

/* margin of notes */

.markdown-source-view .cm-sizer {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.workspace-split.mod-root .workspace-leaf.mod-active::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("https://stickershop.line-scdn.net/stickershop/v1/sticker/16587446/android/sticker.png?v=1");
    background-size: 100px;
    filter: opacity(0.75);
    top: 50px;
    left: calc(100% - 150px);
    width: 50%;
    height: 50%;
}
