[core]
	editor = vim
	# for japanese chars
	quotepath = false
[push]
	default = simple
[alias]
	a = add
	add-changed-deleted = add . --update
	add-all = add . --all
	b = branch
	co = checkout
	checkout-new-branch = checkout -b
	checkout--orphan-images = checkout --orphan images
	remote-add-origin = !git remote add origin git@github.com:$(git config user.name)/$(basename $PWD).git
	m = merge
	mt = mergetool
	d = diff
	# for ubuntu
	cdiff = -c pager.diff='perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less' diff
	wdiff = diff --word-diff-regex='\\w+'
	diff-head = diff HEAD
	diff-head1 = diff HEAD~
	diff-head2 = diff HEAD~~
	diff-head3 = diff HEAD~~~
	diff-head4 = diff HEAD~~~~
	dt = difftool
	s = status
	st = status
	st-all = status --ignored
	c = commit
	cm = commit
	commit-first = commit -m 'First commit'
	push-origin-master   = push -u origin   master
	push-upstream-master = push -u upstream master
	push-origin-images   = push -u origin   images
	# [stedolan/git\-ls: List files, annotated by git status]( https://github.com/stedolan/git-ls )
	ls = ~/local/bin/git-ls
	amend = commit --amend --no-edit
	tree = ls-tree -dr --name-only --full-name --full-tree HEAD
	graph = log --oneline --decorate --graph --branches --tags --remotes
	l = log
	# [美しき git log \-\-graph のエイリアス \- Hack Your Design\!]( https://blog.toshimaru.net/git-log-graph/ )
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pull-rebase-upstream-master = pull --rebase upstream master
	pull-rebase-origin-master = pull --rebase origin master
	url = remote -v
	unstage = reset HEAD
	unstage-permanent = rm --cached -r
	conflicts = !git ls-files -u | cut -f 2 | sort -u
	rebase-undo-from-pre-commit = reset --hard HEAD
	rebase-undo-from-post-commit = reset --hard ORIG_HEAD
	merge-undo-from-pre-commit = reset --hard HEAD
	merge-undo-from-post-commit = reset --hard ORIG_HEAD
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	# for proxy env git:// -> https://
[merge]
	tool = vimdiff
# 	conflictstyle = diff3
[mergetool]
	# [version control \- Git mergetool generates unwanted \.orig files \- Stack Overflow]( https://stackoverflow.com/questions/1251681/git-mergetool-generates-unwanted-orig-files )
#  	keepBackup = false
	prompt = false
	trustExitCode = false
[rerere]
	# [git\-rerereのメモ \- unpushの日記]( http://d.hatena.ne.jp/unpush/20091010/1255186302 )
	enabled = true
[url "https://"]
	insteadOf = git://
[url "github:"]
	# cannnot through proxy
	# 	InsteadOf = https://github.com/
	InsteadOf = git@github.com:
